/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700;800;900&display=swap');

/* Global Rule's */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --main-color: #1b4962;
  --text-color: #161b22;
  --secondary-color: #ffb400;
  --main-transation: 0.5s;
  --opacity: 0.6;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* height: 10000px; */
  background-color: #f9f9f9;
}



p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.7;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

.sticky-top {
  background-color: rgb(255 255 255 / 58%) !important;
  transition: var(--main-transation);
}

/* End Global Rule's */
/* Start Landing */
.landing {
  position: relative;
  overflow: hidden;
}

.landing .box {
  height: 100vh;
}

.landing .carousel-item:first-child .box {
  background-color: #1f1f1f;
}

.landing .carousel-item:nth-child(2) .box {
  background-color: var(--secondary-color);
}

.landing .box .image {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  align-items: center;
}

.landing .box .image img {
  width: 90%;
  max-width: 100%;
  object-fit: cover;
}

@media(max-width:992px) {
  .landing .box .image img {
    width: 50%;
  }
}

@media(max-width:767px) {
  .landing .box .image img {
    width: 80%;
  }
}

.landing .box .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  left: 50%;
  position: relative;
  transform: translateX(-80%);
}

@media(max-width:992px) {
  .landing .box {
    flex-direction: column;
    text-align: center;
  }

  .landing .box .text {
    left: 0;
    transform: translateX(0);
    justify-content: flex-end;
  }

  .landing .box .text h2 {
    margin-left: 0 !important;
    font-size: 25px;
    margin: 10px 0;
  }

  .landing .box .text p {
    font-size: 18px;
    font-weight: 350 !important;
    margin: 5px auto;
  }

  .btn-second {
    margin: 10px auto;
  }

  .landing .box .image {
    justify-content: center;
  }
}

.landing .box .text h2 {
  color: #fff;
}

.landing .box .text h2 span {
  margin-left: 6px;
  color: var(--secondary-color);
  font-weight: bold;
}

.landing .box .text p {
  max-width: 410px;
  color: #f2f2f2;
  text-transform: capitalize;
  font-weight: 450;
}

.btn-second {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: var(--main-transation);
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: fit-content;
}

.btn-second:hover {
  color: #fff !important;
}

.btn-second::before {
  content: "";
  background-color: var(--secondary-color);
  width: 200%;
  height: 200%;
  left: -200%;
  top: 0;
  transform: skewY(10deg);
  position: absolute;
  z-index: -1;
  transition: var(--main-transation);
}

.btn-second:hover::before {
  left: 0;
}

.text-arab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  position: relative;
  right: 10%;
  flex: 1;
}

.text-arab h2 {
  color: var(--text-color);
  font-family: 'Cairo', sans-serif;
}

.text-arab h2 span {
  color: #fff;
  font-weight: bold;
}

.text-arab p {
  color: var(--text-color);
  font-weight: 400 !important;
  max-width: 410px;
  font-size: 19px;
  font-family: 'Cairo', sans-serif;
  margin-left: auto;
}

.btn-main {
  width: fit-content;
  border: 1px solid #ccc;
  margin: 10px 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  margin-left: auto;
  z-index: 2;
}

.text-arab .btn-main {
  font-family: 'Cairo', sans-serif;
}

.btn-main::before {
  content: "";
  position: absolute;
  background: #f2f2f2;
  width: 0;
  height: 200%;
  top: 0;
  right: -200%;
  transform: skewX(-10deg);
  transition: var(--main-transation);
  z-index: -1;
}

.btn-main:hover::before {
  width: 200% !important;
  right: 0;

}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

@media(max-width:992px) {
  .text-arab {
    text-align: center;
    right: 0;
    transform: translateY(-30%);
    justify-content: flex-end;
  }

  .text-arab h2 {
    font-size: 25px;
  }

  .text-arab p {
    font-size: 18px;
  }

  .btn-main {
    margin: 10px auto;
  }
}

/* End Landing */
/* Start Navbar */
.navbar {
  background-color: #fff;
}

.navbar-brand {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand span {
  color: var(--secondary-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 4px;
}

.nav-link {
  font-size: 15px;
  color: #777;
  transition: var(--main-transation);
}

@media(max-width:992px) {
  .nav-link {
    padding: 10px;
  }
}

.nav-link:hover {
  transform: translateY(-5px);
}

.toggle-bar {
  font-size: 22px;
  padding: 4px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 2px 2px var(--secondary-color);
}

.fa-times {
  color: #f45;
  transition: var(--main-transation);
}

.nav-item {
  padding: 5px 10px;
}

/* End Navbar */
/* Start Services */
.services .image {
  flex-basis: 50%;
  margin-left: -13px;
}

.services .image img {
  width: 100%;
  max-width: 100%;
}

.services .image::before {
  content: "";
}

.services .image::after {
  content: "";
}

.services {
  position: relative;
}

@media(max-width:992px) {
  .services-srv {
    flex-direction: column;
  }

  .services .text {
    text-align: center !important;
    margin-top: 15px;
  }

  .services .text h2 {
    font-size: 20px;
  }

  .services .text p {
    font-size: 15px !important;
  }
}

.services .text {
  flex-basis: 49%;
  text-align: right;
}

.services .text h2 {
  font-family: 'Cairo',
    sans-serif;
  color: var(--secondary-color);
}

.services .text>span {
  font-family: 'Cairo',
    sans-serif;
  display: block;
  margin: 10px 0;
  font-size: 12px;
  position: relative;
  width: fit-content;
  margin-left: auto;
}

.services .text>span::before {
  content: "";
  background-color: var(--secondary-color);
  width: 50%;
  height: 2px;
  position: absolute;
  right: 2px;
  bottom: -8px;
}



@media(max-width:992px) {

  .services .text>span::before {
    content: "";
    background-color: var(--secondary-color);
    width: 50%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
  }
.services .text>span {
  margin: 10px auto;
}
}

.services .text p {
  font-family: 'Cairo',
    sans-serif;
  font-size: 18px;
  line-height: 2;
}

/* End Services */